*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html 
{ 
  font-size: 100%; 
}

body 
{
  font-size: 1rem;
  line-height: 1.5;
}

/**
 * Navigation
 **/

/* Mobile Navigation Bar*/
.nav 
{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10000;
  background-color: #ffffff; /* Mobile Navigation Bar Color */
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border-bottom: 1px solid #e3e3e3;
}
.nav-logo 
{
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  /* Vertical Centering */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

}
.nav-bar
{

}
.nav-style 
{
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.nav-style h6
{
    font-family: "helveticaneueltstd-roman", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #2e2e2e;
    float: left;  
    padding-top: 4px;
    max-height: 20px;
}
.nav-style li
{
    font-family: "Noto Sans TC", "cwTeXHei", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px; 
    color: #2e2e2e;
}
.nav-style a
{
    font-family: "Noto Sans TC", "cwTeXHei", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px; /* Mobile Navigation Font Size */
    color: #2e2e2e;
}

/** 
* Nav container 
* 1. Ensure this slides in below parent
* 2. Hide by default
* 3. Smoother scrolling experience on iOS
**/

.nav-container 
{
  position: fixed;
  top: 60px; /* Mobile Navigation Bar Position */
  left: 0;
  z-index: 9999;
  overflow-y: auto;
  visibility: hidden; /* 2 */
  width: 90%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Mobile Navigation Container Color */
  border-right: 1px solid #e3e3e3;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%); /* 2 */
  -webkit-overflow-scrolling: touch; /* 3 */
}

/* 1. Show when `.is-visible` class is added */

.nav-container.is-visible 
{
  visibility: visible; /* 1 */
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); /* 1 */
}

/**
 * Nav toggle 
 **/

.nav-toggle 
{
  line-height: 1;
  display: inline-block;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0;
  height: 60px;
  width: 60px;
  background-color: none; /* Mobile Navigation Toggle Color */
  position: fixed;
  top: 0;
  left: 0;
}

/* Nav toggle icon */

.nav-toggle .icon-menu 
{ 
  display: inline-block;
  width: 28px;
  height: 20px;
  position: absolute;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
  fill: none;
}

/* Nav toggle icon lines */

.icon-menu .line 
{
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000000; /* Mobile Navigation Toggle Line Color */
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/* Nav toggle icon line 1 */

.icon-menu .line-1 
{ 
  top: 0; 
}

/* When active, rotate line 1 to be lefthand part of X */

.is-active .icon-menu .line-1 
{
  -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
  -ms-transform: translateY(8px) translateX(0) rotate(45deg);
  transform: translateY(8px) translateX(0) rotate(45deg);
}

/* Nav toggle icon line 2 */

.icon-menu .line-2 
{
  top: 50%;
  margin-top: -2px;
}

/* When active, hide line 2 */

.is-active .icon-menu .line-2 
{ 
  opacity: 0; 
}

/* Nav toggle icon line 3 */

.icon-menu .line-3 
{ 
  bottom: 0; 
}

/* When active, rotate line 3 to be righthand part of X */

.is-active .icon-menu .line-3 
{
  -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
  -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
  transform: translateY(-8px) translateX(0) rotate(-45deg);
}

/* Remove default list styles for menus */

.menu 
{
  list-style: none;
  margin: 0;
  padding: 0;
}

/** 
* 1. Give menu a lighter background than its container 
* 2. Prevent menu text from being accidentally highlighted
*/

.nav-menu 
{
  background-color: #ffffff; /* Mobile Navigation Menu Color */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;         /* 2 */
}

/* Give menu items a top border */

.nav-menu .menu-item 
{ 
  border-bottom: 1px solid #e3e3e3; /* Mobile Navigation Menu Line Color */
  height: 100%; /* Mobile Navigation Menu Height */
}

/* Give last menu item a bottom border */

.nav-menu > .menu-item:last-child 
{ 
  /*border-bottom: 1px solid #e3e3e3; */
}

/* Darker background color on hover, and when toggled */

.nav-menu > .menu-item:hover,
.nav-menu > .menu-item:active
{ 
  background-color: #d0d0d0; /* Mobile Navigation Menu Active Color */
}

/* 1. Menu links are block level, by default */

.nav-menu .menu-link 
{
  display: block; /* 1 */
  text-decoration: none;
  text-align: left;
  color: #444; /* Mobile Navigation Menu Text Color */
  padding: 0.75rem 1rem;
}

/* 1. Menu items with dropdowns appear clickable */

.has-dropdown 
{
  position: relative;
  cursor: pointer; /* 1 */
}

/* 1. Parent menu links inlined so you can toggle the dropdown */

.has-dropdown > .menu-link 
{ 
  display: inline-block; 
}

/* 1. Add an icon to menu items that have sub menus */

.has-dropdown:after 
{
  font-size: 32px;
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  content: "+"; /* 1 */
  color: #222; /* Mobile Navigation Menu Dropdown Icon Color */
}

/* 1. Switch icon to n-dash when toggled */

.has-dropdown.is-active:after 
{ 
  content: "-"; /* 1 */ 
}

/**
 * Dropdowns
 * 1. Hide dropdowns by default
 */

.nav-dropdown 
{
  display: none; /* 1 */
  background-color: #ffffff; /* Mobile Navigation Menu Dropdown Color */
}

/* 1. Show dropdown when toggled */

.has-dropdown.is-active > .nav-dropdown 
{ 
  display: block; /* 1 */ 
}

/**
 * 2nd level dropdown 
 **/

.nav-dropdown .nav-dropdown 
{ 
  background-color: #ffffff; 
}

.nav-dropdown .menu-item 
{ 
  border-bottom: 1px solid #e3e3e3; 
}
.nav-dropdown .menu-item:last-child 
{ 
  border-bottom: none; 
}

.nav-dropdown .nav-dropdown .menu-item 
{
  background-color: #0080ff;
  border-color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  .nav 
  { 
    background-color: #ffffff; /* Desktop Navigation Bar Color */
    height: auto; /* Desktop Navigation Bar Height */
    line-height:auto;
  }
  .nav-logo
  {
    /* Aligning The Element to The Bottom of Its Container */
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
  }
  .nav-bar
  {
    float: right;
    margin-right: 10%;
  }

  .nav-container
  {
    width: 100%;
    text-align: right;
    position: relative;
    border: none;
  }

  .nav,
  .nav-container,
  .nav-container.is-visible 
  {
    top: auto;
    right: 0;
    z-index: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .nav-container,
  .nav-container.is-visible 
  {
    position: static;
    visibility: visible;
    height: auto;
    min-height: 0;
    overflow-y: visible;
  }

  .nav-toggle 
  { 
    display: none; 
  }

  .nav-menu 
  {
    background-color: rgba(255, 255, 255, 0); /* Desktop Navigation Menu Color */
    margin-left: auto;
    margin-right: auto;

  }

  /* 1. Display menu items inline */

  .nav-menu > .menu-item,
  .nav-menu > .menu-item.is-active 
  {
    display: inline-block; /* 1 */
    background-color: transparent;
    border: 0;
  }

  /* Remove bottom border on last child */

  .nav-menu > .menu-item:last-child 
  { 
    border: 0; 
  }

  .nav-menu .menu-item 
  {
    height: auto; /* Desktop Navigation Menu Height */
    -webkit-transition: background-color 0.15s ease-in-out,  color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out,  color 0.15s ease-in-out;
  }

  .nav-menu .menu-link 
  {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .nav-bar
  .nav-container
  .nav-menu,
  .menu-item,
  .menu-link
  {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-style a
  {
      font-family: "Noto Sans TC", "cwTeXHei", Helvetica, Arial, sans-serif;
      font-weight: 300;
      font-size: 18px; /* Mobile Navigation Font Size */
      color: #2e2e2e;
  }


  /* Remove +/- icons */

  .has-dropdown:after 
  { 
    content: "" !important; 
  }

  /* Add a caret to top-level menu items that have dropdowns */

  .nav-menu > .has-dropdown:after 
  {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: -4px;
    content: "";
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #444 transparent transparent transparent;
  }

  /* Increase padding to compensate for caret */

  .has-dropdown > .menu-link 
  { 
    padding-right: 2rem; 
  }

  /* Re-style dropdowns for larger screens */

  .nav-dropdown 
  {
    display: block;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 200px;
    margin: 0;
    padding: 0 0 0 0;
    background-color: #eeeeee;
    box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.15);
    visibility: hidden;
    -webkit-transition: visibility 0s linear 0.25s,  opacity 0.25s linear;
    transition: visibility 0s linear 0.25s,  opacity 0.25s linear;
  }

  .has-dropdown:hover > .nav-dropdown 
  {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .nav-dropdown .menu-item 
  { 
    border-bottom: 1px solid #e3e3e3;
  }
    .nav-dropdown .menu-item:last-child
  { 
    border-bottom: none;
  }

  .nav-dropdown .menu-item:hover,
  .nav-dropdown .nav-dropdown .menu-item:hover 
  { 
    background-color: #d0d0d0; 
  }

  .nav-dropdown .nav-dropdown,
  .nav-dropdown .nav-dropdown .menu-item 
  { 
    background-color: #dedede; 
  }

  .nav-dropdown .nav-dropdown 
  {
    z-index: 9998;
    top: 0;
    left: 100%;
  }
}