
#u787-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u119-3,#u119-4,#u119-5,#u119-6,#u119-7,#u119-8,#u119-9,#u119-11,#u1759-4,#u540-4,#u379-4,#u825-9
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u825,#u825-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u825-2,#u825-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u806-15,#u825-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

