#myVideo, #myCanvas
{
	width: 640px;
	height: 360px;
	position:absolute;
	top: 0;
	left: 0;
}
.block
{
	z-index: 1;
	/*background-color: #ff0000;*/
}
.youtube, .block
{
	width: 800px;
	height: 450px;
	position:absolute;
	top: 0;
	left: 0;
}
.youtube02
{
	width: 640px;
	height: 360px;
	position:absolute;
	top: 400px;
	left: 0;
}
.youtube03
{
	width: 640px;
	height: 360px;
	position:absolute;
	top: 800px;
	left: 0;
}
.youtube04
{
	width: 640px;
	height: 360px;
	position:absolute;
	top: 1200px;
	left: 0;
}
.youtube05
{
	width: 640px;
	height: 360px;
	position:absolute;
	top: 1600px;
	left: 0;
}
.youtube06
{
	width: 640px;
	height: 360px;
	position:absolute;
	top: 2000px;
	left: 0;
}
#demo
{
	position:absolute;
	top: 600px;
	left: 0;
}
.test
{
	position:absolute;
	top: 600px;
	left: 0;
}
p
{
	color: #ffffff;
}