@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: helveticaneueltstd-hv;
    src: url("fonts/helveticaneueltstd-hv.woff") format('woff');
}
@font-face {
    font-family: helveticaneueltstd-hvcn;
    src: url("fonts/helveticaneueltstd-hvcn.woff") format('woff');
}
@font-face {
    font-family: helveticaneueltstd-lt;
    src: url("fonts/helveticaneueltstd-lt.woff") format('woff');
}
@font-face {
    font-family: helveticaneueltstd-ltcn;
    src: url("fonts/helveticaneueltstd-ltcn.woff") format('woff');
}
@font-face {
    font-family: helveticaneueltstd-roman;
    src: url("fonts/helveticaneueltstd-roman.woff") format('woff');
}

html
{
    margin: 0;
    padding: 0;
    height: 100%;
}
body
{
    margin: 0;
    padding: 0;
    min-height: 100%

}

/* FONT */
h2
{
    font-family: "Noto Sans TC", "cwTeXHei", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
    /*word-spacing: 0.2em;*/
    line-height: 132%;
    padding: 0 0 0 0; /* T R B L */
    margin: 0 0 2% 0; /* T R B L */
}
h2 span
{
    font-weight: 700;
}
h4
{
    font-family: "Noto Sans TC", "cwTeXHei", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.02em;
    /*word-spacing: 0.2em;*/
    line-height: 1.5em;
    padding: 0 0 0 0; /* T R B L */
    margin: 0 0 2% 0; /* T R B L */
}
h6
{
    font-family: "Noto Sans TC", "cwTeXHei", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    /*word-spacing: 0.2em;*/
    line-height: 132%;

}
p
{
    font-family: "Noto Sans TC", "cwTeXHei", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.04em;
    /*word-spacing: 0.2em;*/
    line-height: 150%;
    color: #000000;
}
a
{
    font-family: "Noto Sans TC", "cwTeXHei", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
a:hover
{
    color: rgb(32, 128, 192);
    text-decoration: none;
}
a:link, 
a:visited,
a:hover, 
a:active
{
    text-decoration: none;
}

.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 8%;
}

/* BACKGROUND */
.backg
{   
    /*background-attachment:fixed;*/ /* whether a background image is fixed or scrolls with the rest of the page */
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
    cursor: default;
    padding-left: 0; 
    padding-right: 0; 
    width: 100%;
    /*float: left;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-size: 18px;
}
.backg-attachment
{  
    background-attachment:fixed;
}
.backg-main
{
    margin-top: 3em !important;
}
.backg-167
{
    padding-top: 43.75%; /* 16:7 */
}
.backg-168
{
    padding-top: 50%; /* 16:8 */
}
.backg-169
{
    padding-top: 56.25%; /* 16:9 */
}
.backg-section
{
    padding-top: 43.75%; /* 16:7 */
}

/* KEY VISUAL */
.keyvisual-index
{
    background-image: url("images/index-main.jpg");
}
.keyvisual-index-fermi
{
    padding-top: 50%;
    background-image: url("images/index-fermi.jpg");
}
.keyvisual-fermi
{
    background-image: url("images/fermi-main.jpg");
}
.keyvisual-fermi-run
{
    background-image: url("images/fermi-run.jpg");
}
.keyvisual-fermi-man
{
    background-image: url("images/fermi-man.jpg");
}
.keyvisual-fermi-woman
{
    background-image: url("images/fermi-woman.jpg");
}
.keyvisual-fermi-marathon
{
    background-image: url("images/marathon.jpg");
    cursor: pointer;
    cursor: hand;
}
.keyvisual-training
{
    background-image: url("images/training-main.jpg");
}
.keyvisual-injury
{
    background-image: url("images/injury-main.jpg");
}
.keyvisual-meal
{
    background-image: url("images/meal-main.jpg");
}

/* 
  BOX 
*/
.box
{
    padding: 0 !important;
    margin: 0 !important;
}
.box-row
{
    position: relative;
    overflow: auto;
    width: 80%;
    margin-top: 8%;
    margin-bottom: 4%;
}
.box-column
{
    margin: 0 0 0 0;
    padding: 0 12px 0 12px;
}
.box-column h2
{
    margin-top: 4%;
    margin-bottom: 2%;
}
.box-abstract
{
    margin: 0 0 0 0;
    padding: 0 24px 0 48px;
}
.box-column .box-abstract
{
    padding: 0 12px 0 12px;
}
#index a:hover h2,
#index a:hover p
{
    color: rgb(32, 128, 192);
}
#index a:link, 
#index a:visited,
#index a:hover, 
#index a:active,
#index a:link h2, 
#index a:visited h2,
#index a:hover h2, 
#index a:active h2,
#index a:link p, 
#index a:visited p,
#index a:hover p, 
#index a:active p
{
    text-decoration: none;
}

#index p span
{
    font-weight: 500;
}
.box .button
{
    margin-top:  12%;
}

/* 
   BOX 
   SUBPAGE
*/
.box-row-subpage
{
    position: relative;
    overflow: auto;
    width: 60%;
    margin-top: 8%;
    padding-bottom: 4%;
    border-bottom: 1px solid #e3e3e3;
    /*background-color: #ff0000;*/
}

.box > .box-row-subpage:last-child 
{
    border-bottom: none;
    margin-bottom: 8%;
}
.box-content
{
    margin: 0 0 0 0;
    padding: 0 4% 0 4%;
}
.box-content .box-abstract
{
    padding: 0 0 0 4%;
}
#prologue a,
.box-content a
{
    color: rgb(32, 128, 192);
}
#prologue a:hover,
.box-content a:hover
{
    text-decoration: underline;
}
/* 
   BOX 
   SUBPAGE 2ND
*/
.box-subpage-2nd-color
{
    background-color: #eeeeee;
}
.box-row-subpage-2nd
{
    position: relative;
    overflow: auto;
    width: 50%;
    /*margin-top: 8em;*/
    padding-bottom: 4%;
    /*background-color: #ff0000;*/
}
#introduction
{
    margin-top: 8em; 
}
#more-training
{
    background-color: #252525; 
}
#more-training h4,
#more-training a h6
{
    color: #666666;
}
#more-training a:hover h6
{
    color: #ffffff;
}
.box-section
{
    position: relative;
    overflow: auto;
    margin: 0 0 6% 0;
    background-color: #ffffff;
}
.box-section > .box-abstract
{
    padding-top: 2%;
}
.box-row-subpage-2nd > #title,
.box-row-subpage-2nd > #more
{
    background-color: transparent;
}
.box-row-subpage-2nd > #more
{
    text-align: center;
}
.box-row-subpage-2nd > #title360,
.box-row-subpage-2nd > #titleMore
{
    margin-top: 4%;
}
.box-row-subpage-2nd > .box-section:last-child > #first
{
    padding: 0 1.5% 0 0;
}
.box-row-subpage-2nd > .box-section:last-child > #left
{
    padding: 0 1% 0 0.5%;
}
.box-row-subpage-2nd > .box-section:last-child > #right
{
    padding: 0 0.5% 0 1%;
}
.box-row-subpage-2nd > .box-section:last-child > #last
{
    padding: 0 0 0 1.5%;
}


/* 
   BOX 
   VIDEO
*/
.box-row-video
{
    position: relative;
    overflow: auto;
    width: 80%;
    margin-top: 4%;
    margin-bottom: 4%; 
    background-color: #1e1e1e;  
}
.box-row-video .box-abstract
{
    padding: 24px 24px 24px 48px;
}
.box-row-video h2, 
.box-row-video p
{
    color: #ffffff;
}
.box-row-video h2
{
    font-size: 32px;
    font-weight: 400;
}
.box-row-video p
{
    font-weight: 200;
}
.box-row-xl
{
    position: relative;
    overflow: auto;
    width: 96%;
    /*margin-top: 8%;*/
    /*margin-bottom: 4%;*/
}
.float-left .box-product
{
    padding: 0 24% 0 0;
}
.float-right .box-product
{
    padding: 0 0 0 24%;
}
.box-text
{
    padding: 0;
    margin: 0;
}
/*
  FERMI
*/
#Heart
{
    float: left;
}
.box-row-fermi
{
    position: relative;
    overflow: auto;
    width: 80%;
    margin-top: 8%;
    margin-bottom: 4%;    
}

#ABOUT p span
{
    font-weight: 500;
}
#TEL span
{
    color: rgb(0, 128, 224);
}
/*
  FOOTER
*/
.box-footer
{
    /*position: absolute;*/
    bottom: 0;
    border-top: 1px solid #bbbbbb;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    /*margin-top: 8%;*/
}

/* FLOAT */
.float-left
{
    float: left;
}
.float-right
{
    float: right;
}

/* IMAGE */
.img-responsive
{
    width: 100% !important;
    padding: 0;
    margin: 0;
}
.img-center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

/* CENTER */
.center-container
{
    text-align: center;
}
.center-content
{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.centering-H
{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}


/* BUTTON */
a.button
{
    outline: none;
    padding: 4px 0 4px 0; /* T R B L */
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
a.button:link, a.button:visited
{
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
}
a.button:hover, a.button:active
{
    border: 1px solid #222222;
    background-color: #222222;
    color: #ffffff;
}
a.div-button
{
    cursor: pointer;
    cursor: hand;
}

/* TABLE */
table
{
    width: 100%;
    margin-top: 5%; 
}
tr
{
}
th
{
    text-align: center;
    border-top: 1px solid #888888 !important;
    border-bottom: 1px solid #888888 !important;
    padding: 0.3em 0 0.3em 0 !important;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}


/* ICON */
.line-up
{
    float: left;
}
.color-ball
{
    font-size: 40px;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    padding: 0 0 0 0; /* T R B L */
    margin: 0 0 0 0.3em; /* T R B L */
}
.pink
{
    background-color: rgb(220, 20, 110);
}
.grey
{
    background-image: url("images/grey.jpg");
    background-size: cover;
    background-color: rgb(90, 100, 110);
}
.green
{
    background-color: rgb(160, 240, 0);
}
.orange
{
    background-color: rgb(240, 40, 0);
}
.circle 
{
    border-radius: 50%;
    width: 100%;
    padding-top: 50%;
    padding-right: 50%;
    padding-bottom: 50%;
    padding-left: 50%;;
    position: relative;
    
}
.circle-border 
{
    border: 4px;
    border-style: solid;
    border-color: #aaaaaa;
}
.circle-solid
{
    background-color: #00C0E0;
}


