/* Portrait */
@media only screen 
  and (max-device-width: 1024px)
  and (orientation: portrait) 
{
    /* FONT */
    h2
    {
      font-size: 28px;  
    }
    p
    {
        font-size: 16px;
    }

    .logo
    {
        width: 36%;
    }

    /* BACKGROUND */
    .backg-main
    {

    }
    .backg-167,
    .backg-168,
    .backg-169
    {
        padding-top: 180%; /* 10:18 */
    }
    .backg-section
    {
       padding-top: 100%; 
    }
    .backg-video
    {

    }

    /* KEY VISUAL */
    .keyvisual-index
    {
        background-image: url("images/index-main-m.jpg");
    }
    .keyvisual-index-fermi
    {
        background-image: url("images/index-fermi-m.jpg");
    }
    .keyvisual-fermi
    {
        background-image: url("images/fermi-main-m.jpg");
    }
    .keyvisual-fermi-phone
    {
        background-image: url("images/fermi-phone-m.jpg");
    }
    .keyvisual-fermi-man
    {
        background-image: url("images/fermi-man-m.jpg");
    }
    .keyvisual-fermi-woman
    {
        background-image: url("images/fermi-woman-m.jpg");
    }
    .keyvisual-fermi-marathon
    {
        background-image: url("images/marathon-m.jpg");
        cursor: pointer;
        cursor: hand;
    }
    .keyvisual-training
    {
        background-image: url("images/training-main-m.jpg");
    }
    .keyvisual-injury
    {
        background-image: url("images/injury-main-m.jpg");
    }
    .keyvisual-meal
    {
        background-image: url("images/meal-main-m.jpg");
    }


    /* BOX */
    .box-column
    {
        padding: 0 0 0 0;
        margin-bottom: 8%;
    }
    .box-row,
    .box-row-subpage,
    .box-row-video
    {
        width: 96%;
    }
    .box-abstract,
    .box-column .box-abstract,
    .box-row-video .box-abstract,
    .box-text
    {
        padding: 4% 4% 4% 4%;
    }
    .box .button
    {
        margin-top: 20%;
        margin-bottom: 8%;
    }
    .box-row-video
    {
        margin-top: 60px;
        margin-bottom: 4%;
        background-color: #ffffff;
        padding-top: 2%;
    }
    .box-row-video h2, 
    .box-row-video p
    {
        color: #000000;
    }
    .float-left .box-product,
    .float-right .box-product
    {
        padding: 8% 16% 12% 16%;
    }

    /* BUTTON */
    a.button
    {
        padding: 4px 0 4px 0; /* T R B L */
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }


    .float-left
    {
        float: right;
    }
    .backg-left,
    .backg-right,
    {   
        padding-right: 10%; 
        padding-left: 10%;
    }

    a.button:link, a.button:visited
    {
/*        margin-top: 15%;
        width: 80%;*/
    }
    table
    {
        margin-top: 19%;
    }
    th
    {
        font-size: 16px;
    }
    .color-ball
    {
        font-size: 28px;
    }

}

/* Size Portrait */
@media only screen 
  and (min-device-height: 1025px)
  and (max-device-height: 1280px)
  and (orientation: portrait) 
{
 
}

@media only screen 
  and (min-device-height: 961px)
  and (max-device-height: 1024px)
  and (orientation: portrait) 
{

}

@media only screen 
  and (min-device-height: 769px)
  and (max-device-height: 960px)
  and (orientation: portrait) 
{

}

@media only screen 
  and (min-device-height: 661px)
  and (max-device-height: 768px)
  and (orientation: portrait) 
{

}

@media only screen 
  and (min-device-height: 481px)
  and (max-device-height: 660px)
  and (orientation: portrait) 
{

}


@media only screen 
  and (max-device-height: 480px)
  and (orientation: portrait) 
{

}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 320px)
  and (orientation: portrait) 
{
}