/* Portrait */
@media only screen 
  and (max-device-width: 1024px)
  and (orientation: portrait) 
{
    /* BACKGROUND */
    .backg-167,
    .backg-168,
    .backg-169
    {
        padding-top: 140%; /* 10:18 */
    }
    .backg-main
    {
        margin-bottom: 4%;
    }
    .backg-section
    {
       padding-top: 100%; 
    }
    .backg-video
    {

    }

    /* KEY VISUAL */
    .keyvisual-index
    {
        background-image: url("images/index-main-m.jpg");
    }
    .keyvisual-index-fermi
    {
        padding-top: 62.5%; /* 16:10 */
    }
    .keyvisual-fermi
    {
        background-image: url("images/fermi-main-m.jpg");
    }
    .keyvisual-fermi-run
    {
        background-image: url("images/fermi-run-m.jpg");
    }
    .keyvisual-fermi-man
    {
        background-image: url("images/fermi-man-m.jpg");
    }
    .keyvisual-fermi-woman
    {
        background-image: url("images/fermi-woman-m.jpg");
    }
    .keyvisual-fermi-marathon
    {
        background-image: url("images/marathon-m.jpg");
        cursor: pointer;
        cursor: hand;
    }
    .keyvisual-training
    {
        background-image: url("images/training-main-m.jpg");
    }
    .keyvisual-injury
    {
        background-image: url("images/injury-main-m.jpg");
    }
    .keyvisual-meal
    {
        background-image: url("images/meal-main-m.jpg");
    }


    /* 
       BOX 
    */
    .box-column,
    .box-content .box-abstract 
    {
        padding: 0 0 0 0;
    }
    .box-column
    {
        margin-bottom: 8%;
    }
    .box-row,
    .box-row-subpage,
    .box-row-video,
    .box-row-fermi
    {
        width: 96%;
    }
    .box-abstract,
    .box-column .box-abstract,
    .box-row-subpage > #prologue,
    .box-row-video .box-abstract,
    .box-text,
    .box-row-subpage-2nd > #title, 
    .box-row-subpage-2nd > #more,
    #title360, #titleMore
    {
        padding: 4% 4% 4% 4%;
    }
    .box .button
    {
        margin-top: 20%;
        margin-bottom: 8%;
    }

    /* 
       BOX 
       SUBPAGE 2ND
    */
    .box-subpage-2nd-color
    {
        background-color: transparent;
    }
    .box-row-subpage-2nd
    {
        width: 96%;
        
        /*padding-top: 5em;*/
        /*padding-bottom: 4%;*/
    }
    #introduction
    {
        margin-top: 0;
        padding-top: 6em;
    }
    #video360
    {
        padding-bottom: 16%;
    }
    #more-training
    {
        background-color: #eeeeee;
    }
    .box-row-subpage-2nd > .box-section > .backg-169
    {
        padding-top: 100%;
    }
    #more-training
    {
        text-align: center;
    }
    .box-row-subpage-2nd > .box-section:last-child > #first, 
    .box-row-subpage-2nd > .box-section:last-child > #left,
    .box-row-subpage-2nd > .box-section:last-child > #right,
    .box-row-subpage-2nd > .box-section:last-child > #last 
    {
        padding: 0 10% 0 10%;
    }
    /*
      FERMI
    */
    #Heart
    {
        margin-bottom: 0;
    }
    #Coach
    {
        clear: left;
    }


    /* 
       BOX 
       VIDEO
    */
    .box-row-video
    {
        margin-top: 60px;
        margin-bottom: 4%;
        background-color: #ffffff;
        padding-top: 2%;
    }
    .box-row-video h2, 
    .box-row-video p
    {
        color: #000000;
    }
    .float-left .box-product,
    .float-right .box-product
    {
        padding: 8% 16% 12% 16%;
    }

    /* BUTTON */
    a.button
    {
        /*font-size: 16px;*/
        width: 80%;
    }

    .float-left
    {
        float: right;
    }
    .backg-left,
    .backg-right,
    {   
        padding-right: 10%; 
        padding-left: 10%;
    }

    a.button:link, a.button:visited
    {
        /*margin-top: 15%;*/
        /*width: 80%;*/
    }
    table
    {
        margin-top: 19%;
    }
    th
    {
        /*font-size: 16px;*/
    }

}

/* Size Portrait */
@media only screen 
  and (min-device-height: 1025px)
  and (max-device-height: 1280px)
  and (orientation: portrait) 
{
 
}

@media only screen /* iPad */
  and (min-device-height: 768px)
  and (max-device-height: 1024px)
  and (orientation: portrait) 
{
    /* FONT */
    h2
    {
        font-size: 32px;  
    }
    h4
    {
        font-size: 24px;
    }
    h6, 
    p, 
    a, 
    a.button,
    th
    {
        font-size: 18px;
    }
    .logo
    {
        width: 20%;
    }
    .color-ball
    {
        font-size: 28px;
    }
}

@media only screen 
  /*and (min-device-height: 660px)*/
  and (max-device-height: 767px)
  and (orientation: portrait) 
{

    /* FONT */
    h2
    {
        font-size: 28px;  
    }
    h4
    {
        font-size: 20px;
    }
    h6, 
    p, 
    a, 
    a.button,
    th
    {
        font-size: 16px;
    }
    .box-footer p
    {
        font-size: 14px;
    }
    .Company:last-child
    {
        display: block !important;
        width: 100%;
    }
    .logo
    {
        width: 36%;
    }
    .color-ball
    {
        font-size: 24px;
    }
}