#myVideo, #myCanvas
{
	width: 640px;
	height: 360px;
	position:absolute;
	top: 0;
	left: 0;
}
.block
{
	z-index: 1;
	/*background-color: #ff0000;*/
}
.youtube
{
	width: 800px;
	height: 450px;
	position:absolute;
	top: 0;
	left: 0;
}
.block
{ 
	width: 800px;
	height: 200px;
	position:absolute;
	top: 250px;
	left: 0;
	background-color: #ff0000;
}
#demo
{
	position:absolute;
	top: 480px;
	left: 0;
}
.test
{
	position:absolute;
	top: 750px;
	left: 0;
}