#myVideo, #myCanvas
{
	width: 640px;
	height: 360px;
	position:absolute;
	top: 0;
	left: 0;
}
.block
{
	z-index: 1;
	/*background-color: #ff0000;*/
}
.youtube
{
	width: 90%;
	height: 90%;
	position:absolute;
	top: 0;
	left: 0;
}
.block
{
	width: 90%;
	height: 90%;
	position:absolute;
	top: 0px;
	left: 0;
	/*background-color: #ff0000;*/
}
#demo
{
	position:absolute;
	top: 600px;
	left: 0;
}
.test
{
	position:absolute;
	top: 600px;
	left: 0;
}
@media only screen 
  and (max-device-width: 1024px)
  and (orientation: portrait) 
{
	.youtube
	{
		width: 100%;
		height: 100%;
		position:absolute;
		top: 0;
		left: 0;
	}
	.block
	{
		width: 100%;
		height: 100%;
		position:absolute;
		top: 0px;
		left: 0;
}
}