#myVideo, #myCanvas
{
	width: 640px;
	height: 360px;
	position:absolute;
	top: 0;
	left: 0;
}
.block
{
	z-index: 1;
	/*background-color: #ff0000;*/
}
.youtube
{
	width: 1280px;
	height: 720px;
	position:absolute;
	top: 0;
	left: 0;
}
.block
{
	width: 1280px;
	height: 720px;
	position:absolute;
	top: 0px;
	left: 0;
	/*background-color: #ff0000;*/
}
#demo
{
	position:absolute;
	top: 600px;
	left: 0;
}
.test
{
	position:absolute;
	top: 800px;
	left: 0;
}