
#u1500-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1496-4,#u1501-4,#u1518-4,#u1560-9
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1560,#u1560-3
{
	font-family: league-gothic-n4, sans-serif;
}

#u1560-2,#u1560-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u1557-4,#u1643-4,#u1770-4,#u1560-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

