
.imgTouchpad
{
    z-index: 2;
    cursor: pointer;
    cursor: hand;
    /*background-color: rgba(255, 0, 0, 0.3);*/
}
.img, .imgTouchpad
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 56.25%; /* 16:9 */
    background-size: cover;
    background-position: center bottom;
}
.icon360
{
    z-index: 3;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 6%;
}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 800px)
  and (orientation: landscape) 
{
    .icon360
    {
        width: 8%;
    }  
}

@media only screen 
  and (max-device-width: 1024px)
  and (orientation: portrait) 
{
    .img, .imgTouchpad
    {
        padding-top: 100%;
    }
    .icon360
    {
        width: 10%;
    }  
}